*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: all 0.4s;
}
#mainbox{
    height: 700px;
    width: 100%;
    /* background-color: rgb(7, 242, 242); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/pencil.jpg ) ;
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#leftbox{
    /* background-color: orange; */
    height: 680px;
    width: 38%;
    font-family: 'Poppins', sans-serif;

}
#leftbox>#leftheading{
    margin-top: 120px;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(179, 179, 179);
}

#leftbox>#leftpara{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(179, 179, 179);
}

#rightbox{
    /* background-color: rgb(61, 230, 117); */
    height: 680px;
    width: 72%;
    font-family: 'Poppins', sans-serif;
}
#rightbox>#headtxt{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    margin-top: 87px;
    margin-bottom: 6px;
   margin-left: 110px;
   text-shadow: 1px 1px 1px rgb(179, 179, 179);
   
}
#rightbox>#fromtxt{
    font-size: 24px;
    margin-bottom: 6px;
    margin-left: 110px;
    text-shadow: 1px 1px 1px rgb(179, 179, 179);

}
#rightbox>#talenttxt{
    font-size: 28px;
    margin-bottom: 80px;
    margin-left: 110px;
    text-shadow: 1px 1px 1px rgb(179, 179, 179);
}
#rightbox>#headtxt2{
font-size: 26px;
text-align: center;
text-shadow: 1px 1px 1px rgb(179, 179, 179);


}
#rightbox>hr{
    width: 92%;
    margin-top: 25px;
   border-top: 1px dashed rgb(178, 178, 178);
   margin-left: 40px;
   
}
#rightbox>#para{
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(179, 179, 179);
}

/* utility class */
.redtxt{
    color: red;
}
.lbtn{
    height: 40px;
    width: 120px;
    margin-top: 60px;
    border: 0px solid;
    margin-right: 70px;
    position: relative;
    /* top: 10%; */
    left: 30%;
    border-radius: 3px;
    background-color: rgb(244, 234, 234);
}
.lbtn:hover{
    background-color: #FFD700;
    color: rgb(0, 0, 0);
}
.lebtn{
    height: 40px;
    width: 120px;
    margin-top: 60px;
    border: 0px solid;
    margin-right: 70px;
    position: relative;
    /* top: 10%; */
    left: 20%;
    border-radius: 3px;
    background-color: rgb(244, 234, 234);
}
.lebtn:hover{
    background-color: rgb(119,202,236);
    /* border: 1px solid rgb(224, 200, 200); */
}
#kingbox p{
    color: rgb(255, 255, 255);
}
#yellow{
    color:#FFD700;
}
.green_a{
    color: rgb(0, 189, 0);
}